/* ////////REGOLE GENERALI E DI RESET//////// */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

img{
    height: 100px;
    margin-right: 10px;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

/*provvisorio */

main{
    padding-left: 35px;
}

/* provvisorio */



/* ////////GESTIONE HEADER//////// */
.header{
    text-align: center;
}

.titolo-header{
    color: rgba(229,41,127,255);
    font-family: 'Fredoka One', cursive;
    margin: 25px;
}

.paragrafo-header{
    font-weight: bold;
    font-family: sans-serif, cursive;
    margin: 50px;
}


/* ////////GESTIONE CARD//////// */
.card-persona{
    background-color: rgba(15,14,23,255);
    height: 100px;
    width: 350px;
    margin: 15px 15px;
    box-shadow: 10px 10px 10px lightgrey;
    float: left;
}

.immagine-card{
    float: left;
}

.card-info{
    margin: 5px 5px;
}

.nome-card,.mansione-card,.mail-card{
    display: block;
    line-height: 30px;
}

.nome-card{
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 20px;
}

.mansione-card{   
    font-family: sans-serif;
    color: white;
    
}

.mail-card{
    font-family: sans-serif;
    color: dodgerblue;
}